<section class="locations">
  <div class="wrap-wide">
    <div class="locations-head">
      <span class="eyebrow">Where we are</span>
      <h2>HQ, kiln, <em>everything in between.</em></h2>
    </div>
    <div class="locations-grid">
      <div class="loc">
        <div class="role">Headquarters</div>
        <h4>Brooklyn, NY</h4>
        <p class="addr">112 Bedford Avenue<br>Brooklyn, NY 11211<br>United States</p>
        <div class="hours">Mon-Fri &middot; 9am-6pm ET</div>
      </div>
      <div class="loc">
        <div class="role">Salt sourcing</div>
        <h4>Sancheong, South Korea</h4>
        <p class="addr">9x fire-roasting kiln<br>Sancheong-gun, Gyeongnam<br>Republic of Korea</p>
        <div class="hours">By appointment only</div>
      </div>
      <div class="loc">
        <div class="role">European fulfilment</div>
        <h4>Rotterdam, NL</h4>
        <p class="addr">Maashaven warehouse<br>3072 LE Rotterdam<br>Netherlands</p>
        <div class="hours">Mon-Fri &middot; 8am-5pm CET</div>
      </div>
    </div>
  </div>
</section>
{% schema %}
{ "name": "Locations", "presets": [{ "name": "Locations" }] }
{% endschema %}